<div class="page-header">
  <h1>{{ page.title }} </h1>
</div>

<div class="row">
  <div class="pager">
    <ul>
    {% if page.previous %}
      <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Erellinen</a></li>
    {% else %}
      <li class="prev disabled"><a>&larr; Erellinen</a></li>
    {% endif %}
      <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Arkisto</a></li>
    {% if page.next %}
      <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Seuraava &rarr;</a></li>
    {% else %}
      <li class="next disabled"><a>Seuraava &rarr;</a>
    {% endif %}
    </ul>
  </div>

    <hr>
  <div class="span10">
    {{ content }}
    <hr>

    <div class="pager">
      <ul>
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Erellinen</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Erellinen</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Arkisto</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Seuraava &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Seuraava &rarr;</a>
      {% endif %}
      </ul>
    </div>
  </div>

    <hr>

    <div class="row">

      <div class="col-lg-4">
        <div class="bs-component">

          <div class="panel panel-default">
            <div class="panel-heading">Julkaistu</div>
              <div class="panel-body">
                <div class="date"><span>{{ page.date | date_to_long_string }}</span></div>
              </div>
            </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="bs-component">
          <div class="panel panel-default">
            <div class="panel-heading">Äänipäiden puolesta:</div>
                <div class="panel-body">
                  <!-- Look the author details up from the site config. -->
                  {% assign author = site.data.authors[page.author] %}

                  <!-- Output author details if some exist. -->
                  {% if author %}
                      <!-- <span> -->
                        <!-- Personal Info. -->
                        <p>{{ author.name }}</p>
                      <!-- </span> -->
                        {% endif %}
                  </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
          <div class="bs-component">
            <div class="panel panel-default">
                <div class="panel-heading">Tagit</div>
                  <div class="panel-body">
                    {% unless site.tags == empty %}
                      <ul class="tag_box">
                      {% assign tags_list = site.tags %}
                      {% include JB/tags_list %}
                      </ul>
                    {% endunless %}
                  </div>
                </div>
              </div>
            </div>
      </div>

    <div class="row">

    {% include JB/comments %}
    </div>
